<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id = "priya" class = "com.Bridgelabz.di.Student">
	<property name="StudentName" value = "Priyanka"/>
	<property name="id" value = "9"/>
</bean>
<bean id = "ambika" class = "com.Bridgelabz.di.Student">
	<property name="StudentName" value = "Ambika"/>
	<property name="id" value = "10"/>
</bean>
</beans>